body{
    background-color: #000000;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.menu-principal{
    width: 100%;
    background-color:#ffffff ;
    height: 160px;
}
main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo{
    display: block;
    margin-left: 250px;
    position: relative;
    padding: 14px;
    float: none;
    width: 70%;
}
.header-2{
    display: block;
    background-color: #000000;
    height: 60px;
    width: 100%;
}
.menu ul li  {
    display: inline-block;
    margin-left: 35px;
    margin-top: 13px;

}
.menu ul li a:hover{
    color: #ffffff ;
    border-bottom: 2px dashed #ffffff ;
}
.menu ul li a{
    margin-right: 25px;
    width: 990px;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    text-transform: capitalize;
}
div.tenis {
    display: inline-block;
    margin-top: 63px;
    margin-left: 117px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }  
div.container {
    font-family:  calibri;
    color: #ff0000;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
  }
  div.tenis-2 {
    display: inline-block;
    margin-top: 63px;
    margin-left: 20px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }  
  div.tenis-3 {
    display: inline-block;
    margin-top: 63px;
    margin-left: 20px;
    margin-right: 20px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }  
  div.tenis-4 {
    display: inline-block;
    margin-top: 63px;
    margin-right: 100px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }  
#texto-central{
    color: #2ba53b;
    text-align: center;
    margin-top: 30px;
}
div.tenis-5 {
    display: inline-block;
    margin-top: 50px;
    margin-left: 117px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  div.tenis-6 {
    display: inline-block;
    margin-top: 50px;
    margin-left: 20px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  div.tenis-7 {
    display: inline-block;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }   
  div.tenis-8 {
    display: inline-block;
    margin-top: 50px;
    margin-right: 100px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }    
  #nome {
    font-family: calibri;
    color: #f84646;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
  }
  .final{
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    margin-top: 36px;
  }
  .final-1{
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 90px;
    margin-top: 20px;
  }