  body{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0;
  }
  main{
    margin: 0 auto;
    width: 980px;
    position: relative;
  }
  .logo{
    display: block;
    float: none;
    text-align: center;
  }
  .header-2{
    display: block;
    background-color: #000000;
    height: 60px;
    width: 99%;
    border-radius: 25px;
  }
  .menu ul li  {
    display: inline-block;
    margin-left: 35px;
    margin-top: 13px;

  }
  .menu ul li a:hover{
    color: #ffffff ;
    border-bottom: 2px dashed #ff0000 ;
  }
  .menu ul li a{
    margin-right: 25px;
    width: 990px;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    text-transform: capitalize;
  }
  div.tenis {
    display: inline-block;
    margin-top: 63px;
    margin: 20px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }  
  div.container {
    font-family: calibri;
    color: #000000;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
  }
  div.tenis-2 {
    display: inline-block;
    margin-top: 63px;
    margin: 20px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }  
  div.tenis-3 {
    display: inline-block;
    margin-top: 63px;
    margin: 20px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }  
  div.tenis-4 {
    display: inline-block;
    margin-top: 63px;
    margin: 20px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }  
  div.tenis-5 {
    display: inline-block;
    margin-top: 63px;
    margin: 20px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  div.tenis-6 {
    display: inline-block;
    margin-top: 63px;
    margin: 20px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  div.tenis-7 {
    display: inline-block;
    margin-top: 63px;
    margin: 20px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }   
  div.tenis-8 {
    display: inline-block;
    margin-top: 63px;
    margin: 20px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  div.tenis-9 {
    display: inline-block;
    margin-top: 63px;
    margin: 20px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  div.tenis-10 {
    display: inline-block;
    margin-top: 63px;
    margin: 20px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  div.tenis-11 {
    display: inline-block;
    margin-top: 63px;
    margin: 20px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  div.tenis-12 {
    display: inline-block;
    margin-top: 63px;
    margin: 20px;
    width: 265px;
    height:325px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }  
  #nome {
    font-family: calibri;
    color: #000000;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
  }
  .final{
    display: block;
    background-color: #000000;
    width: 100%;
    height: 60px;
    margin-top: 36px;
  }
  .final-1{
    display: block;
    background-color: #000000;
    width: 100%;
    height: 90px;
    margin-top: 20px;
  }